.objs/**
screenshots/**

development/android/assets/**
development/android/jni/RakNet/**
development/android/jni/SDL2/**
development/android/jni/SDL2_image/**
development/android/jni/SDL2_mixer/**
development/android/bin/**
development/android/gen/**
development/android/libs/**
development/android/obj/**

/*Windows-x86_64.exe
/*Windows-Debug-x86_64.exe
/*Linux-x86_64
/*Linux-Debug-x86_64
/*Linux-x86
/*Windows-x86.exe
/*OSX-x86_64

/*options.cfg
/*game_commands.cfg

/*error_log.txt
/*servers.txt

/*.dll
/*.depend

*Thumbs.db
