# All files not covered below should be handled as text with Unix/Linux line endings
* text eol=lf
*.* text eol=lf

# These files should be handled as text with DOS/Windows line endings
*.bat text eol=crlf

# These files should be converted from binary to text before diffing them
*.doc diff=astextplain
*.docx diff=astextplain
*.pdf diff=astextplain
*.rtf diff=astextplain

# These files should be handled as binaries
*.png binary
*.bmp binary
*.ico binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ogg binary
*.wav binary
*.mp3 binary
*.xcf binary
*.mmpz binary
*.sfs binary
*.exe binary
*.dll binary
*.ttf binary
